.profileedit {
  display: grid;
  grid-template:
    'header'
    'form'
    '.' 379px
    'buttonedit'
    '.' 16px
    'buttonexit'
    'error'
    'buttonsave'
    /1fr;
  box-sizing: border-box;
  justify-content: center;
  padding-top: 70px;
}
.profileedit__title {
  grid-area: header;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0 auto 80px;
}
.profileedit__inputs {
  grid-area: form;
  display: grid;
  grid-template-columns: 130px 120px;
  grid-template-rows: repeat(3 auto);
  row-gap: 16px;
  column-gap: 10px;
  flex-direction: column;
  padding: 0;
  margin: 0 auto;
  border: none;
  width: 260px;
}
.profileedit__titleinput {
  grid-column: 1/2;
  width: 130px;
  height: 14px;
  flex-shrink: 0;
  color: #fff;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.profileedit__inputname {
  grid-column: 2/3;
  display: block;
  box-sizing: border-box;
  border: none;
  width: 120px;
  height: 14px;
  flex-shrink: 0;
  color: #fff;
  text-align: right;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  padding: 0;
}
.profileedit__inputemail {
  grid-column: 2/3;
  display: block;
  box-sizing: border-box;
  border: none;
  width: 120px;
  height: 14px;
  flex-shrink: 0;
  color: #fff;
  text-align: right;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  padding: 0;
}
.profileedit__line {
  width: 260px;
  height: 1px;
  background: #424242;
}

.profileedit__button {
  grid-area: buttonedit;
  width: 300px;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: transparent;
  padding: 0;
  border: none;
  margin: 0 auto 0;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5 easy;
}
.profileedit__button:hover {
  opacity: 0.8;
  cursor: pointer;
}
.profileedit__exit {
  grid-area: buttonexit;
  color: #ee3465;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 300px;
  text-decoration: none;
  margin: 0 auto;
  opacity: 1;
  transition: opacity 0.5 easy;
}
.profileedit__exit:hover {
  opacity: 0.8;
  cursor: pointer;
}
.profileedit__error {
  grid-area: error;
  visibility: hidden;
  color: #ee3465;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.profileedit__error_visible {
  visibility: visible;
}
.profileedit__input_error {
  color: #ee3465;
}
.profileedit__buttonsave {
  grid-area: buttonsave;
  opacity: 1;
  transition: opacity 0.5 easy;
  border-radius: 3px;
  background: #3456f3;
  width: 100%;
  height: 45px;
  color: #fff;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  margin-left: auto;
  margin-right: auto;
}
.profileedit__buttonsave:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .profileedit {
    padding-top: 236px;
    grid-template:
      'header'
      'form'
      '.' 210px
      'buttonedit'
      '.' 16px
      'buttonexit'
      'error'
      'buttonsave'
      /1fr;
  }
  .profileedit__title {
    margin-bottom: 96px;
  }
  .profileedit__inputs {
    grid-template-columns: 141px 122px;
    column-gap: 147px;
  }
  .profileedit__titleinput {
    width: 141px;
  }
  .profileedit__input {
    width: 122px;
  }
  .profileedit__line {
    width: 410px;
  }

  .profileedit__button {
    width: 410px;
    font-size: 13px;
  }
  .profileedit__buttonsave {
    width: 410px;
  }
  .profileedit__exit {
    font-size: 13px;
    width: 410px;
  }
}
@media screen and (min-width: 769px) {
  .profileedit {
    padding-top: 74px;
    grid-template:
      'header'
      'form'
      '.' 220px
      'buttonedit'
      '.' 16px
      'buttonexit'
      'error'
      'buttonsave'
      /1fr;
  }
  .profileedit__title {
    margin-bottom: 123px;
  }
}
