.notfound {
  display: grid;
  grid-template:
    '.' 329px
    'name'
    '.' 10px
    'description'
    '.' 284px
    'button';
  margin: 0 auto 30px;
}

.notfound__name {
  grid-area: name;
  color: #fff;
  text-align: center;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0;
  margin: 0;
}
.notfound__description {
  grid-area: description;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0;
  margin: 0;
}
.notfound__buttonback {
  grid-area: button;
  color: #4285f4;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  justify-self: center;
  align-self: end;
  margin-bottom: 30px;
  color: #4285f4;
  background-color: inherit;
  border: none;
  opacity: 1;
  transition: opacity 0.5 easy;
}
.notfound__buttonback:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .notfound {
    grid-template:
      '.' 408px
      'name'
      '.' 5px
      'description'
      '.' 184px
      'button';
  }
  .notfound__name {
    font-size: 140px;
  }
  .notfound__description {
    font-size: 16px;
  }
  .notfound__buttonback {
    font-size: 14px;
    margin-bottom: 222px;
  }
}

@media screen and (min-width: 769px) {
  .notfound {
    grid-template:
      '.' 246px
      'name'
      '.' 5px
      'description'
      '.' 184px
      'button';
  }
  .notfound__buttonback {
    margin-bottom: 60px;
  }
}
