.portfolio {
  display: flex;
  flex-direction: column;
  padding: 0 14px 70px;
}
.portfolio__h2subtitle {
  color: #a0a0a0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0 0 40px;
}
.portfolio__sites {
  display: flex;
  row-gap: 19px;
  flex-direction: column;
}
.portfolio__link {
  display: flex;
  text-decoration: none;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-top: 1px;
  letter-spacing: -0.72px;
  opacity: 1;
  transition: opacity 0.5 easy;
}
.portfolio__link:hover {
  opacity: 0.7;
  cursor: pointer;
}
.portfolio__link::after {
  display: block;
  content: '';
  width: 18px;
  height: 28px;
  background-image: url(../../images/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 20px;
  box-sizing: border-box;
}
.portfolio__line {
  height: 1px;
  background: #e6e6e6;
}

@media screen and (min-width: 600px) {
  .portfolio {
    padding: 0 50px 87px;
  }
  .portfolio__h2subtitle {
    font-size: 18px;
    line-height: 20px;
    margin: 0 0 45px;
  }
  .portfolio__sites {
    row-gap: 13px;
  }

  .portfolio__link {
    font-size: 28px;
    line-height: 50px;
    letter-spacing: -1.12px;
  }
  .portfolio__link::after {
    background-size: 17px 45px;
    width: 27px;
    height: 60px;
  }
}

@media screen and (min-width: 769px) {
  .portfolio {
    padding: 0 70px 120px;
  }
  .portfolio__sites {
    row-gap: 15px;
  }
  .portfolio__link {
    font-size: 30px;
  }
  .portfolio__link::after {
    width: 29px;
  }
}
