.filtercheckbox__checkbox {
  visibility: collapse;
}

.filtercheckbox__checklabel {
  display: grid;
  grid-template: 'box label';
  align-items: center;
  justify-content: start;
  gap: 13px;
  color: #fff;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.filtercheckbox__checklabel::before {
  content: '';
  grid-area: box;
  background: #c4c4c4;
  display: block;
  margin: 0;
  padding: 0;
  width: 34px;
  height: 14px;
  border-radius: 10px;
  transition: background 0.4s ease;
}

.filtercheckbox__checklabel::after {
  content: '';
  grid-area: box;
  background: #f5f5f5;
  display: block;
  margin: 0;
  padding: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  transform: translateX(2px);
  transition: all 0.4s ease;
}

.filtercheckbox__checkbox:checked + .filtercheckbox__checklabel::before {
  background: #3ddc84;
}

.filtercheckbox__checkbox:checked + .filtercheckbox__checklabel::after {
  transform: translateX(22px);
  background: #fff;
}
