.pageform {
  display: flex;
  flex-direction: column;
  margin: 60px auto 0;
  max-width: 358px;
  background-color: none;
  border-radius: none;
  padding: 0;
}

.pageform__popup {
  display: flex;
  flex-direction: column;
  margin: auto;
  background: #ffffff;
  border-radius: 10px;
  padding-top: 50px;
  padding-left: 36px;
  padding-bottom: 60px;
  padding-right: 36px;
  z-index: 0;
}

.pageform__heading {
  color: white;
  margin: 0 0 50px;
  text-align: center;
}
.pageform__image {
  display: block;
  width: 100%;
  height: 120px;
  background-size: 120px 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 60px;
  z-index: 5;
}

.pageform__image_type_failed {
  background-image: url(../../../../images/failed_reg.svg);
}
.pageform__image_type_success {
  background-image: url(../../../../images/success_reg.svg);
}
.pageform__infotext {
  width: 358px;
  height: 58px;
  font-size: 24px;
  line-height: 29px;
  color: rgba(0, 0, 0, 1);
  margin: 32px auto 0;
  z-index: 3;
  font-family: Inter;
  font-weight: 900;
  font-style: bold;
  text-align: center;
}

.pageform__input {
  color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 2px solid rgba(204, 204, 204, 1);
  padding: 13px 8px;
  margin-bottom: 30px;
  font-size: 14px;
}

.pageform__input:focus {
  outline: none;
}

.pageform__link {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

.pageform__submit-button {
  background-color: #ffffff;
  color: black;
  cursor: pointer;
  margin-top: 186px;
  margin-bottom: 15px;
}

.popup__submit-button:hover {
  opacity: 0.8;
}

.popup__submit-button:disabled {
  opacity: 0.2;
}

@media screen and (max-width: 624px) {
  .pageform {
    padding-top: 25px;
    padding-left: 22px;
    padding-bottom: 25px;
    padding-right: 22px;
  }
  .pageform__heading {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 40px;
  }
  .pageform__image {
    margin-top: 50px;
  }
  .pageform__infotext {
    width: 244px;
    height: 48px;
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .pageform__input {
    width: 260px;
    margin-top: 0;
  }
  .popup__submit-button {
    width: 260px;
    height: 46px;
    font-size: 16px;
    line-height: 20px;
  }
}
