.loginform {
  display: grid;
  width: 100%;
  padding: 56px 0 30px;
  justify-content: center;
  grid-template:
    'logolink'
    '.' 50px
    'title'
    '.' 80px
    'form'
    '.' 257px
    'buttonedit'
    '.' 16px
    'wrapper';
}
.loginform__logo {
  display: flex;
  grid-area: logolink;
  margin-left: auto;
  margin-right: auto;
  width: 38px;
  height: 38px;
  margin: 0;
  background-size: contain;
  background-image: url(../../images/logo.svg);
  background-size: contain;
  text-decoration: none;
  justify-self: center;
  opacity: 1;
  transition: opacity 0.5 easy;
}
.loginform__logo:hover {
  opacity: 0.8;
  cursor: pointer;
}

.loginform__title {
  grid-area: title;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}
.loginform__inputs {
  grid-area: form;
  display: grid;
  justify-content: center;
  grid-template:
    'email_l'
    '.' 10px
    'email_i'
    '.' 20px
    'password_l'
    '.' 10px
    'password_i'
    '.' 10px
    'error';
  margin: 0;
  border: none;
  padding: 0;
}
.loginform__labelemail {
  grid-area: email_l;
  width: 260px;
  color: #8b8b8b;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.loginform__inputemail {
  grid-area: email_i;
  width: 260px;
  height: 46px;
  border-radius: 8px;
  background: #2f2f2f;
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 15px;
  border: none;
  box-sizing: border-box;
}
.loginform__labelpassword {
  grid-row: password_l;
  width: 260px;
  color: #8b8b8b;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.loginform__inputpassword {
  grid-area: password_i;
  width: 260px;
  height: 46px;
  border-radius: 8px;
  background: #2f2f2f;
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 15px;
  border: none;
  box-sizing: border-box;
}
.loginform__error {
  grid-area: error;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ee3465;
  width: 260px;
  visibility: hidden;
  padding: 0;
  margin: 0;
}
.loginform__error_visible {
  visibility: visible;
}
.loginform__input_error {
  color: #ee3465;
}
.loginform__buttonedit {
  grid-area: buttonedit;
  width: 260px;
  height: 45px;
  border-radius: 3px;
  background: #4285f4;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  margin: 0 auto;
  opacity: 1;
  transition: opacity 0.5 easy;
}
.loginform__buttonedit:hover {
  opacity: 0.8;
  cursor: pointer;
}
.loginform__wrapper {
  display: flex;
  grid-area: wrapper;
  justify-self: center;
}
.loginform__buttonlogiin {
  text-decoration: none;
  color: #4285f4;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  opacity: 1;
  transition: opacity 0.5 easy;
}
.loginform__buttonlogiin:hover {
  opacity: 0.7;
  cursor: pointer;
}
.loginform__textbtn {
  color: #8b8b8b;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-right: 6px;
}

@media screen and (min-width: 600px) {
  .loginform {
    padding: 232px 0 232px;
    grid-template:
      'logolink'
      '.' 40px
      'title'
      '.' 40px
      'form'
      '.' 168px
      'buttonedit'
      '.' 16px
      'wrapper';
  }
  .loginform__logo {
    margin-left: 0;
    justify-self: start;
  }
  .loginform__title {
    text-align: start;
  }
  .loginform__labelemail {
    width: 396px;
  }
  .loginform__inputemail {
    width: 396px;
  }
  .loginform__labelpassword {
    width: 396px;
  }
  .loginform__inputpassword {
    width: 396px;
  }
  .loginform__buttonedit {
    width: 396px;
    font-size: 14px;
  }
  .loginform__buttonlogiin {
    font-size: 14px;
  }
  .loginform__textbtn {
    font-size: 14px;
  }
}
@media screen and (min-width: 769px) {
  .loginform {
    padding: 70px 0 70px;
  }
}
